{% extends 'base.html' %}

{% block title %}
Página Inicial
{% endblock title %}

{% block content %}
{% load static %}

<nav>
    <ul>
        <li><a href="{% url 'index' %}" class="current" class="nav-texto" >Home</a></li>
        <li><a href="{% url 'about' %}" class="nav-texto">Sobre</a></li>
        <li><a href="{% url 'posts:index' %}" class="nav-texto">Posts</a></li>
    </ul>
</nav>

<section class="text-spot">
    <div class="container">
        <img id="welcome" src="{% static 'images/welcome.gif' %}" alt="Minha Figura">

        <img id="welcome" src="{% static 'images/blog2.gif' %}" alt="Minha Figura">

        <p>
            <div class="textao">
                pepes blog + Django = pepes blango
            </div>

            <div class="texto">
                Ainda bem que o HTML não vai ser avaliado nessa atividade não é mesmo
            </div>
        </p>
    </div>
</section>

<!-- Box sobre quem eu sou?! -->
<div class="window" id="about">
    <div class="title-bar">
        <div class="title-bar-text">Sobre</div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <img id="welcome" src="{% static 'images/thinking2.gif' %}" alt="Minha Figura" class="center" style="width: 100%;">

        <p><a href="{% url 'about' %}">Quem sou eu?</a></p>
    </div>
</div>

<!-- Box os posts?! -->
<div class="window" id="links">
    <div class="title-bar">
        <div class="title-bar-text">Posts</div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <img id="infinite-computer" src="{% static 'images/internaut.gif' %}" alt="Minha Figura" class="center" style="width: 100%;">
        <p><a href="{% url 'posts:index' %}">Leia meus posts!</a></p>
    </div>
</div>

{% endblock content %}
