{% extends 'base.html' %}

{% block title %}
Listas
{% endblock title %}

{% block content %}
<nav>
    <ul>
        <li><a href="{% url 'index' %}"
        class="nav-texto" >Home</a></li>
        <li><a href="{% url 'about' %}" class="nav-texto">Sobre</a></li>
        <li><a href="{% url 'posts:index' %}" class="nav-texto">Posts</a></li>
        <li><a href="{% url 'posts:create' %}" class="nav-texto">Criar</a></li>
        <li><a href="{% url 'posts:search' %}" class="nav-texto">Procurar</a></li>
        <li><a href="{% url 'posts:categorias' %}" class="current">Categorias</a></li>
    </ul>
</nav>

{% if categoria_list %}

    <ul class="post-list">

    {% for categoria in categoria_list %}

    <li class="post-item">
        <div class = "post-box">
            <a href="{% url 'posts:categoria-detail' categoria.id %}">
                <p class="post-item-text">{{ categoria.name }}</p>
            </a>
            <div classs="textinho"> {{ categoria.description }} </div>
        </div>
    </li>

    {% endfor %}

  </ul>
{% else %}

<div class = "text-spot">
    <p class="texto">Nenhuma categoria disponível.</p>
</div>

{% endif %}

{% endblock content %}
