{% extends 'base.html' %} 
{% block content %}
{% load static %}

<nav>
    <ul>
        <li><a href="{% url 'index' %}"
        class="nav-texto" >Home</a></li>
        <li><a href="{% url 'about' %}" class="nav-texto">Sobre</a></li>
        <li><a href="{% url 'posts:index' %}" class="nav-texto">Posts</a></li>
        <li><a href="{% url 'posts:create' %}" class="current">Criar</a></li>
        <li><a href="{% url 'posts:search' %}" class="nav-texto">Procurar</a></li>
        <li><a href="{% url 'posts:categorias' %}" class="nav-texto">Categorias</a></li>
    </ul>
</nav>

<div class="text-spot">
<p class="textao">Inserir Novo Post</p>
<form method="POST" action="{% url 'posts:create' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Criar</button>
</form>
</div>

{% endblock content %}
