{% extends 'base.html' %}

{% block content %}
{% load static %}

<nav>
    <ul>
        <li><a href="{% url 'index' %}"
        class="nav-texto" >Home</a></li>
        <li><a href="{% url 'about' %}" class="nav-texto">Sobre</a></li>
        <li><a href="{% url 'posts:index' %}" class="nav-texto">Posts</a></li>
        <li><a href="{% url 'posts:create' %}" class="nav-texto">Criar</a></li>
        <li><a href="{% url 'posts:search' %}" class="current">Procurar</a></li>
        <li><a href="{% url 'posts:categorias' %}" class="nav-texto">Categorias</a></li>
    </ul>
</nav>

<div class="text-spot">
    <p class="textao">Busca de Posts por Nome</p>
    <form action="{% url 'posts:search' %}">
        <p>
            <label for="id_title" class="texto"> Título: </label>
            <textarea type="text" name="query" id="id_title" placeholder="Digite aqui o nome do post que você procura!"></textarea>
        </p>
        <button type="submit">Buscar</button>
    </form>
</div>


<div class="text-spot">
<p class="textao">Resultado da Busca</p>

{% if post_list %}

<section class="lista-de-cards">
    {% for post in post_list %}
    
    <article class="card">
        <p class="texto"> {{ forloop.counter }} - <a href="{% url 'posts:detail' post.id %}">{{ post.title }} </a> </p>
    </article>
    {% endfor %}
</section>

{% else %}

<p class="texto">Não foi encontrado nenhum post para a busca.</p>

{% endif %}
</div>

{% endblock content %}