{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="text-spot">
<p class="textao">Atualizar Dados do Post: </p>
<p class="texto"> "{{ post.title }}" </p>
<form method="post" action="{% url 'posts:update' post.id%}">
  {% csrf_token %}
  <p>
    <label for="id_title">Título:</label>
    <textarea type="text" name="post_title" id="id_title"> {{ post.title }} </textarea>
  </p>

  <p>
    <label for="id_text">Título:</label>
    <textarea type="text" name="post_text" id="id_text"> {{ post.text }} </textarea>
  </p>

  <button type="submit">Atualizar</button>
</form>
</div>

{% endblock content %}